.Container_details {
    width: 80%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}
button {
    background-color: #000000;
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}
@media screen and (max-width: 600px) {
    .Container_details {
        width: 100%;
        padding: 10px;
    }
}
